/* You can add global styles to this file, and also import other style files */
.footerI {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

  }

  body{
      background-image:url('./assets/fondo.PNG');
      background-repeat: no-repeat;
      background-size: cover;
  }
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
