<div  fxLayout="row" fxLayoutAlign="space-around start">
    <div >
        <img src= "../assets/acceder.PNG">
    </div>

    <div  class= "container">
        <img src= "..\assets\accederAreaReclamaciones.png">
        <form >
            <mat-form-field class="centered">
              <mat-label>Codigo contrato</mat-label>
              <input matInput [(ngModel)]="codigo" name="input" placeholder="">
            </mat-form-field>
            <button  mat-stroked-button class="centered2">Entrar</button>
          
        </form>
        
    </div>

    
    
</div>